*{font-family: "Poppins" sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
     background-color: #F9F9F9;
}



#Logo {
    font-family: "Cinzel" sans-serif;
    font-weight: 400;
    font-style:normal; 
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #262626;
    font-family: Cinzel;

}

.search-circle {
    cursor: pointer;        /* cursor on hover */
    width: 47px;
    height: 47px;
    top: 37px;
    left: 1309px;
    opacity: 1;
    background-color: #4CE0D7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

.search-circle i {
    color: #333;            /* icon color */
    position: absolute;
    font-size: 18px;
}

.header {
    width: calc(100% - 168px);
   margin: 40px auto;
    
 }

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    
}
.navigation a {
    font-style: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #262626;
    text-decoration: none;
}

.button {
    width: 143.81px;
    height: 35.95px;
    top: 41px;
    left: 1098px;
    opacity: 1;
    border: none;
    border-radius: 40px;
    background-color: #4CE0D7;

}

.hero-bg {
    background-image: url(assets/img/main.jpg);
    position: relative;
    height: 559px;
    width: calc(100%-168px);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin-left: 84px;
    margin-right: 84px;
    align-items: center;
    border-radius: 20px;
}