*{font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
     background-color: #F9F9F9;
}



#Logo {
    font-family: "Cinzel", sans-serif;
    font-weight: 400;
    font-style:normal; 
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #262626;
    font-family: Cinzel;

}

.search-circle {
    cursor: pointer;        /* cursor on hover */
    width: 47px;
    height: 47px;
    top: 37px;
    left: 1309px;
    opacity: 1;
    background-color: #4CE0D7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

.search-circle i {
    color: #333;            /* icon color */
    position: absolute;
    font-size: 18px;
}

.header {
    width: calc(100% - 168px);
   margin: 40px auto;
    
 }

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    
}
.navigation a {
    font-style: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #262626;
    text-decoration: none;
}

.button {
    width: 143.81px;
    height: 35.95px;
    top: 41px;
    left: 1098px;
    opacity: 1;
    border: none;
    border-radius: 40px;
    background-color: #4CE0D7;

}
/*this is style for background picture in hero section and layout of text within*/
.hero-bg {
    background-image: url(assets/img/main.jpg);
    position: relative;
    height: 559px;
    width: calc(100%-168px);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: left;
    align-items: center;
    

    padding-left: 57px;
    padding-top: 218px;
    padding-bottom: 141px;
   
    margin-left: 84px;
    margin-right: 84px;
   
    border-radius: 20px;
}

/*this is the hero section text alignment*/
.overlay-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: white;
    gap: 28px;
    height: 53px;
}

.overlay-text p {
    font-weight: 400;
    font-weight: regular;
    font-size: 20px;
    line-height: normal;

}
/*hero section first line text style*/

.hero-title{
    
    font-style: bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 23%;
    color: white;
}

/*this is style for second line in hero text*/

.hero-header{
    font-weight: 400;
    font-style: regular;
    font-size: 46px;
}

/*this is style for accent text in hero section*/
.hero-accent {
    font-style: bold;
    font-size: 46px;
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
}